* {
	box-sizing: border-box;
}

.card-block {
	display: flex;
	align-items: center;
	justify-content: center;
	max-width: 616px;
	margin: 0 auto;
	flex-direction: column;
}

.card-block__content {
	display: flex;
	justify-content: center;
	flex-wrap: wrap;
	margin: 32px 0;
}

.flip-card {
	border: 1px solid #333;
	margin: 2px;
	position: relative;
	width: 150px;
	height: 150px;
}

.flip-card.rotate .inner,
.flip-card.success .inner {
	transform: rotateY(-180deg);
}

.flip-card.pointer-events {
	pointer-events: none;
}

.inner {
	position: relative;
	transition: all ease-in-out .5s;
	transform-style: preserve-3d;
}

.front {
	width: 100%;
	padding-top: 100%;
	backface-visibility: hidden;
	background: gray;
}

.back {
	position: absolute;
	width: 100%;
	padding-top: 100%;
	top: 0;
	backface-visibility: hidden;
	transform: rotateY(180deg);
	transition: all .5s ease .2s;
}

.flip-card[data-card="1"].rotate  .back {
	background-color: yellow;
}

.flip-card[data-card="2"].rotate .back {
	background-color: red;
}

.flip-card[data-card="3"].rotate .back {
	background-color: green;
}

.flip-card[data-card="4"].rotate .back {
	background-color: pink;
}

.flip-card[data-card="5"].rotate .back {
	background-color: blue;
}

.flip-card[data-card="6"].rotate .back {
	background-color: orange;
}

.counter {
	position: relative;
	max-width: 320px;
	width: 100%;
}

.result {
	width: 100%;
	height: 40px;
	padding: 8px;
}

.try-again {
	position: absolute;
	right: 0;
}

.try-again:hover {
	background-color: #fff;
	color: #333;
}

.btn-dark {
	height: 40px;
	border: none;
	background: #333;
	color: #fff;
	padding: 0 18px;
	border: 1px solid #333;
	cursor: pointer;
	font: 500 14px/1.1 'Open Sans';
	transition: all ease-in .2s;
}

.btn-dark:hover {
	background-color: #fff;
	color: #333;
}